.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: lightsteelblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  font-family: monospace;
  color: black;
}

.App-link {
  color: #09d3ac;
}

.chatbox {
  height: 90vh;
  width: 50vw;
  border: 1px solid lightsteelblue;
  border-radius: 6px;
  background-color: mintcream;
  overflow-y: auto;
}

.inputbox {
  text-align: center;
  width: 50vw;
  border: 1px solid lightcyan;
  border-radius: 6px;
}

.align-right {
  text-align: right;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: lightblue;
  margin: 8px 0px 0 44vw;
  width: fit-content;
  padding: 4px;
}

.align-left {
  text-align: left;
  border: 1px solid lavender;
  border-radius: 10px;
  background-color: lavender;
  margin: 10px 26vw 0 10px;
  width: fit-content;
  padding: 4px;
}

.inputfield {
  width: 49.5vw;
  height: 4vh;
  border-radius: 6px;
  background-color: mintcream
}

.message {
  width: 20vw*2;
  padding: 10px;
  overflow: hidden;
}

.shipment {
  font-size: 12px;
  border: 1px solid lavender;
  border-radius: 25px;
  background-color: lavender;
  width: 22.5vw;
}

ul {
  list-style-type: none;
  background-color: lavenderblush;
  border-radius: 10px;
  padding-left: 10px;
}

ul li {
  padding: 0 6px 0 10px;
}